#app {
  height: 100%;
  width: 100%;
  overflow: hidden;

  .task-state.task-priority {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin: 0 6px;
  }
  .task-state.task-priority span {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: #D78822;
  }
  .task-state.mt-icon {
    margin: 0 8px;
  }

  .left {
    text-align: center;

    .left__Favicon {
      display: inline-block;

      img {
        display: inline-block;
      }
    }

    .menu-item {
      position: relative;
      text-align: left;

      .menu-tag {
        padding: 0 33rem;
      }

      .menu-box {
        position: absolute;
        right: -290rem;
        top: 6rem;
        width: 300rem;
        background-color: white;
        border-radius: 8rem;
        padding: 8rem 10rem;
        box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.4);
        z-index: 100;

        .li {
          line-height: 32rem;
          padding: 0 16px;
          width: 100%;
          display: flex;
          align-items: center;

          .mt-icon {
            margin-right: 3rem;
            font-size: 18rem;
          }
        }

        .li-tl {
          font-weight: bold;
          color: orange;
        }
      }
    }
  }

  .form-box {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.3);

    .form-panel {
      height: 100%;
      width: 546rem;
      background-color: white;
      text-align: left;
      border-radius: 10px;
      .form-title {
        padding: 20px 20px 0 20px;
        font-size: 40rem;
        font-weight: bold;
        justify-content: space-between;
        span.close{
          font-weight: 400;
          font-size: 20px;
          color: #111;
          background-color: #eee;
          display: inline-block;
          width: 25px;
          height: 25px;
          border-radius: 50px;
          line-height: 21px;
          text-align: center;
          cursor: pointer;
        }
      }

      .form-item {
        display: block;
        padding: 32px 32px 0 32px;

        label {
          display: block;
          font-weight: bold;
          margin-bottom: 8rem;
          font-size: 16rem;
          color: #000 !important;
        }

        input,select {
          display: block;
          width: 100%;
          padding: 0px 10px;
          border: 1px solid #aaa;
          line-height: 48rem;
          height: 48rem;
          border-radius: 3px;
          font-size: 16rem;
          option{
            padding: 10px 0;
          }
        }
        
      }
      .flex{
        .form-item {
          width: 50%;
        }
      }
      .form-btns {
        padding: 40px 0 32px 0;
        text-align: center;

        button {
          display: block;
          margin: 0 auto;
          font-size: 18rem;
        }
        div{
          margin: 0 auto;
          font-size: 18rem;
          margin-bottom: 15px;
          width: 120px;
          padding: 10px 0 ;
          border-radius: 4px;
          cursor: pointer;
        }
        .Save{
          background-color: rgb(67,133,246);
          color: #fff;
        }
      }
    }
  }

  .content__Reading__c {
    .content__Reading__c__box {
      color: white;
      padding: 0 8rem;

    }
  }

  .right__header__title {
    input.flow-time-name {
      font-size: 36rem;
      background-color: #f2f2f2;
      border: 0px solid transparent !important;
      padding: 8rem 16rem;
      border-radius: 12rem;
      width: 92%;
    }
  }

  .content__two__boxs-item__value {
    margin-right: 16rem;
    font-weight: bold;
  }

  .content__two__box, .content__toDo__box{
    border: 2px dashed transparent;
  }
  .content__two__box:hover,.content__toDo__box:hover {
    background-color: #e2e2e2;
    border-color: orange;
  }

  .lone {
    .cur {
      display: inline-block;
      width: 0%;
    }
  }
 
}
