#app {
  height: 100%;
  width: 100%;
  overflow: hidden;

  .left {
    text-align: center;
    .left__Favicon {
      display: inline-block;
      img {
        display: inline-block;
      }
    }

    .menu-item {
      position: relative;
      text-align: left;

      .menu-tag {
        padding: 0 33rem;
      }

      .menu-box {
        position: absolute;
        right: -190rem;
        top: 6rem;
        width: 200rem;
        background-color: white;
        border-radius: 8rem;
        padding: 8rem 10rem;
        box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.4);
        z-index: 100;

        .li {
          line-height: 32rem;
          padding: 0 16px;
          width: 100%;
          display: flex;
          align-items: center;

          .mt-icon {
            margin-right: 3rem;
            font-size: 18rem;
          }
        }

        .li-tl {
          font-weight: bold;
          color: orange;
        }
      }
    }
  }

  .form-box {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.3);

    .form-panel {
      height: 100%;
      width: 360rem;
      background-color: white;
      text-align: left;

      .form-title {
        padding: 20px 20px 0 20px;
        font-size: 40rem;
        font-weight: bold;
      }

      .form-item {
        display: block;
        padding: 32px 32px 0 32px;

        label {
          display: block;
          font-weight: bold;
          margin-bottom: 8rem;
          font-size: 16rem;
          color: #000 !important;
        }

        input {
          display: block;
          width: 100%;
          padding: 0px 10px;
          border: 1px solid #aaa;
          line-height: 48rem;
          height: 48rem;
          border-radius: 3px;
          font-size: 16rem;
        }
      }

      .form-btns {
        padding: 40px 0 32px 0;
        text-align: center;

        button {
          font-size: 18rem;
        }
      }
    }
  }

  .content__Reading__c {
    .content__Reading__c__box {
      color: white;
      padding: 0 8rem;
    }
  }
}
