body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

input {
  font-family: "Inter";
}

.box {
  width: 100%;
  height: 100vh;
  background-color: #e5e5e5;
  display: flex;
  padding: 34rem 42rem 57rem 0rem;
  box-sizing: border-box;
  overflow: hidden;
}

.left {
  background: #ffffff;
  box-shadow: 0rem 8rem 9rem rgba(0, 0, 0, 0.1);
  border-radius: 20rem;
  width: 114rem;
  box-sizing: border-box;
  position: relative;
  min-height: 950rem;
}

.left__Favicon {
  width: 48rem;
  height: 46rem;
  margin-top: 41rem;
}

.left__Favicon img {
  width: 100%;
  height: 100%;
}

.left__box {
  margin-top: 53rem;
}

.left__box-item {
  margin-bottom: 16rem;
}

.left__box-item img {
  width: 50rem;
  height: 50rem;
}

.left__user {
  position: absolute;
  bottom: 40rem;
  width: 100%;
}

.left__user img {
  width: 48rem;
  height: 48rem;
  display: block;
  margin: 0 auto;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.right__header {
  margin-left: 16rem;
  background: #ffffff;
  box-shadow: 0rem 8rem 9rem rgba(0, 0, 0, 0.1);
  border-radius: 20rem;
  display: flex;
  height: 110rem;
}

.right__header__title {
  line-height: 110rem;
  margin-left: 41rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24rem;
  color: #8e8e8e;
  flex: 1;
}

.right__header__date {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 55rem;
  line-height: 110rem;
  text-align: center;
  color: #65676d;
}

.right__header__button {
  display: flex;
  align-items: center;
  margin: 0 70rem;
}

.right__header__button-img:hover,
.right__header__button-img.selected {
  width: 70rem;
}

.right__header__button-img {
  display: inline-block;
  width: 45rem;
  margin: 0 11rem;
}

.content {
  flex: 1;
  display: flex;
  margin: 34rem 0 10rem 28rem;
}

.content__one {
  flex: 1;
  display: flex;
  margin-right: 56rem;
}

.content__Reading {
  width: 216rem;
  background: #e1f2fc;
  border-radius: 20rem;
  padding: 22rem 20rem;
  box-sizing: border-box;
  margin-right: 38rem;
  box-shadow: 0rem 8rem 9rem rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.content__Reading__h {
  display: flex;
  align-items: center;
  border-bottom: 3rem solid #76a5ea;
  padding: 0 5rem;
  box-sizing: border-box;
  margin-bottom: 6rem;
}

.content__Reading__h__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25rem;
  line-height: 30rem;
  color: #76a5ea;
  margin: 6rem 0;
  flex: 1;
}

.content__Reading__h__Add {
  width: 16rem;
  height: 16rem;
  margin-right: 7rem;
}

.content__Reading__h__Openlink {
  width: 15rem;
  height: 15rem;
}

.content__Reading__c {
  height: 137.34rem;
  width: 90%;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 16rem;
  padding: 15rem;
  box-sizing: border-box;
  margin: 14rem auto 0 auto;
}

.content__Reading__c__h {
  display: flex;
  align-items: center;
  border-bottom: 3rem solid #000000;
  padding: 0 5rem;
  box-sizing: border-box;
}

.content__Reading__c__h__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14rem;
  line-height: 22rem;
  color: #0d062d;
  flex: 1;
  margin-bottom: 4rem;
  white-space: nowrap;
}

.content__Reading__c__h__Add {
  width: 16rem;
  height: 16rem;
  margin-right: 7rem;
}

.content__Reading__c__h__Openlink {
  width: 15rem;
  height: 15rem;
}

.content__Reading__c__box {
  width: 100%;
  height: 20rem;
  background: #76a5ea;
  border-radius: 16rem;
  margin-top: 7rem;
}

.content__toDo {
  width: 441rem;
  background: #e1f2fc;
  border-radius: 20rem;
  padding: 22rem 8rem;
  box-sizing: border-box;
  box-shadow: 0rem 8rem 9rem rgba(0, 0, 0, 0.1);
}

.content__toDo__h {
  display: flex;
  align-items: center;
  border-bottom: 3rem solid #76a5ea;
  padding: 0 5rem;
  box-sizing: border-box;
  margin-bottom: 6rem;
}

.content__toDo__h__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25rem;
  line-height: 30rem;
  color: #76a5ea;
  margin: 6rem 0;
  flex: 1;
  margin-left: 20rem;
}

.content__toDo__h__Add {
  width: 16rem;
  height: 16rem;
  margin-right: 7rem;
}

.content__toDo__box {
  margin: auto;
  width: 350rem;
  height: 115rem;
  background: #ffffff;
  border-radius: 10rem;
  padding: 18rem 21rem;
  margin-top: 20rem;
  box-sizing: border-box;
  position: relative;
}

.content__toDo__box__one {
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18rem;
  line-height: 22rem;
  color: #0d062d;
}

.content__toDo__box__one img {
  width: 14rem;
  height: 16rem;
  margin-top: 2rem;
  margin-left: 3rem;
}

.content__toDo__box__two {
  margin-top: 14rem;
}

.content__toDo__box__two-item {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14rem;
  line-height: 20rem;
  color: #000000;
  margin-top: 4rem;
}

.content__toDo__box__two-item__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14rem;
  line-height: 20rem;
  color: #6c6c6c;
}

.content__two {
  width: 440rem;
  background: #fff8ef;
  border-radius: 20rem;
  padding: 22rem 8rem;
  box-sizing: border-box;
  margin-right: 66rem;
  box-shadow: 0rem 8rem 9rem rgba(0, 0, 0, 0.1);
}

.content__two__h {
  display: flex;
  align-items: center;
  border-bottom: 3rem solid #ffa500;
  padding: 0 5rem;
  box-sizing: border-box;
  margin-bottom: 6rem;
}

.content__two__h__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25rem;
  line-height: 30rem;
  color: #ffa500;
  margin: 6rem 0;
  flex: 1;
  margin-left: 20rem;
}

.content__two__box {
  margin: auto;
  width: 350rem;
  height: auto;
  background: #ffffff;
  border-radius: 10rem;
  padding: 18rem 21rem;
  margin-top: 20rem;
  box-sizing: border-box;
  position: relative;
}

.content__two__box__stop {
  position: absolute;
  right: 17rem;
  top: 18rem;
  width: 30rem;
  height: 30rem;
}

.content__two__boxs__title {
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18rem;
  line-height: 22rem;
  color: #0d062d;
}

.content__two__boxs__title img {
  width: 14rem;
  height: auto;
  object-fit: unset;
  margin-top: 2rem;
  margin-left: 3rem;
}

.content__two__boxs__title__lone {
  width: 14rem;
  height: 2rem !important;
  margin-top: 10rem !important;
}

.content__two__boxs {
  margin-top: 14rem;
}

.content__two__boxs-item {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14rem;
  line-height: 20rem;
  color: #000000;
  margin-top: 4rem;
  display: flex;
}

.content__two__boxs-item__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14rem;
  line-height: 20rem;
  color: #6c6c6c;
}

.content__two__boxs-items {
  display: flex;
  margin-top: 7rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12rem;
  line-height: 22rem;
  white-space: nowrap;
  margin-right: 11rem;
  color: #000000;
}

.content__two__boxs-items img {
  width: 22rem;
  height: 22rem;
  margin-right: 2rem;
}

.content__two__boxs-items__yes {
  color: #fe2921;
}

.content__two__boxs-items__no {
  color: #83b709;
}

.content__three {
  width: 440rem;
  background: #dcf3eb;
  border-radius: 20rem;
  margin: 0;
}

.content__three__h {
  display: flex;
  align-items: center;
  border-bottom: 3rem solid #8bc48a;
  padding: 0 5rem;
  box-sizing: border-box;
  margin-bottom: 6rem;
}

.content__three__h__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25rem;
  line-height: 30rem;
  color: #8bc48a;
  margin: 6rem 0;
  flex: 1;
  margin-left: 20rem;
}

.footer {
  display: flex;
  margin-left: 28rem;
}

.footer__console {
  width: 216rem;
  height: 112rem;
  padding: 14rem;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 0rem 8rem 9rem rgba(0, 0, 0, 0.1);
  border-radius: 20rem;
}

.footer__console__time {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32rem;
  text-align: center;
  color: #65676d;
}

.footer__console__b {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__console__b__start {
  height: 30rem;
  width: auto;
  margin-right: 16rem;
}

.footer__console__b__open {
  height: 38rem;
  width: 38rem;
}

.footer__console__b__Return {
  height: 28rem;
  width: auto;
  margin-left: 16rem;
}

.footer__display {
  height: 112rem;
  display: flex;
  margin-left: 29rem;
  flex: 1;
  background: #ffffff;
  border-radius: 16rem;
  padding: 22rem 24rem;
  box-shadow: 0rem 8rem 9rem rgba(0, 0, 0, 0.1);
}

.footer__display img {
  width: 94rem;
  height: 74rem;
}

.footer__display__info {
  height: 100%;
  position: relative;
  margin-left: 4rem;
  margin-right: 24rem;
}

.footer__display__info__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 10rem;
  text-align: center;
  color: #000000;
  margin-top: 40rem;
}

.footer__display__info__singer {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 10rem;
  text-align: left;
  color: #c6c3ba;
}

.footer__display__center {
  flex: 1;
}

.footer__display__center__cons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__display__center__cons img {
  width: 41rem;
  height: auto;
}

.footer__display__center__progressbar {
  display: flex;
  width: 100%;
  margin-top: 3rem;
  color: #8f8d8e;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18rem;
}

.footer__display__center__progressbar .lone {
  display: inline-block;
  width: 100%;
  height: 14rem;
  background: rgba(198, 198, 198, 0.85);
  border-radius: 16rem;
  position: relative;
  margin: 0 6rem;
  transform: translateY(3rem);
}

.footer__display__center__progressbar .lone span {
  display: inline-block;
  background: #ffa500;
  height: 14rem;
  position: absolute;
  border-radius: 16rem;
  width: 60%;
}

.footer__display__right {
  display: flex;
  margin-top: 44rem;
  margin-left: 81rem;
}

.footer__display__right img {
  width: 28rem;
  height: 28rem;
  margin: 0 5rem;
}

@media screen and (max-width: 558px) {
  .content__one {
    height: 500rem;
    overflow: auto;
    flex: none;
    display: flex;
    margin-right: 0;
    margin-bottom: 40rem;
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 34rem 0 18rem 16rem;
  }

  .content__Reading {
    width: 100%;
    background: #e1f2fc;
    border-radius: 20rem;
    padding: 22rem 35rem;
    box-sizing: border-box;
    margin-right: 12rem;
    box-shadow: 0rem 8rem 9rem rgba(0, 0, 0, 0.1);
    overflow: auto;
    height: auto;
  }

  .content__Reading__c {
    height: 142rem;
    width: 90%;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 16rem;
    padding: 20rem 20rem;
    box-sizing: border-box;
    margin: 10rem auto 0 auto;
  }

  .content__Reading__c__h {
    display: flex;
    align-items: center;
    border-bottom: 3rem solid #000000;
    padding: 0 5rem;
    box-sizing: border-box;
  }

  .content__Reading__c__h__text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 4rem;
    line-height: 10rem;
    color: #545454;
  }

  .content__toDo {
    width: 100%;
    background: #e1f2fc;
    border-radius: 20rem;
    padding: 22rem 8rem;
    box-sizing: border-box;
    box-shadow: 0rem 8rem 9rem rgba(0, 0, 0, 0.1);
    overflow: auto;
    height: auto;
  }

  .content__two__h {
    margin-bottom: 30rem;
  }

  .content__two {
    width: 100%;
    flex: 0;
    height: 800rem;
    margin-bottom: 40rem;
  }

  .content__twos__box {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .content__two__box {
    width: 43%;
    min-height: 250rem;
    border-radius: 16rem;
    padding: 25rem 28rem;
    margin: 10rem 30rem;
  }

  .content__two__boxs-item {
    margin-top: 30rem;
  }

  .content__two__boxs-items {
    transform: scale(0.9);
    margin-right: -10rem;
  }

  .content__two__box__stop {
    width: 50rem;
    height: 50rem;
  }
  .content__three {
    flex: 1;
    height: auto;
  }
  .footer__display__center__progressbar {
    display: none;
  }
  .footer__display__center__cons {
    height: 100%;
  }
  .footer__display__center__cons img {
    height: 60rem;
    width: auto;
  }
  .footer__display__info {
    margin-top: 0;
    transform: scale(0.5);
  }
  .footer__console {
    border-radius: 50rem;
  }
  .footer__display__right {
    display: flex;
    align-items: center;
    margin: 0;
  }
  .footer__display {
    border-radius: 50rem;
  }
}

/*****************************/
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}

.unpointer {
  pointer-events: none;
}

.flex.jsb {
  justify-content: space-between;
}
.flex.jsa {
  justify-content: space-around;
}

.text-center {
  text-align: center;
}

.w100,
.wv100 {
  width: 100% !important;
}

.h100,
.hv100 {
  height: 100% !important;
}

.wh100,
.whv100 {
  width: 100% !important;
  height: 100% !important;
}

/*********************************************/
.flex-h,
.flex-v,
.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-h,
.flex-v,
.flex {
  /* display: box; */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  /* 横向 */
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  /* 默认垂直居中 */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-v {
  /* 横向 */
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  /* 默认垂直居中 */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-1,
.flex-grow {
  -prefix-box-flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-2 {
  -prefix-box-flex: 2;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -moz-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.flex-3 {
  -prefix-box-flex: 3;
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -moz-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.flex-4 {
  -prefix-box-flex: 4;
  -webkit-box-flex: 4;
  -webkit-flex: 4;
  -moz-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

.flex-5 {
  -prefix-box-flex: 5;
  -webkit-box-flex: 5;
  -webkit-flex: 5;
  -moz-box-flex: 5;
  -ms-flex: 5;
  flex: 5;
}

#menus {
  margin: 0;padding: 0;
  text-align: center;
  line-height: 35px;
  width: 80px;
  border: 1px solid black;
  border: 1px solid black;
  position: absolute;
  left: 0;
  top: 0;
  list-style: none;
  display: none;
  outline: none;
  background: white;
  li{
    cursor: pointer;
  }
}

/*****************************/

button {
  padding: 8px 26px;
  line-height: 1.4;
  background-color: #4343fa;
  border: 1px solid #4343fa;
  color: white;
  border-radius: 6px;
}

button.outline {
  background-color: white;
  color: gray;
}

/***********************************************
 * Drag Layer Style
 ************************************************/

.draging {
  background-color: rgb(255, 0, 0, 0.6);
}

.drag-status-in {
  background-color: rgb(0, 0, 255, 0.3);
}





/*****************************/
@import "style/bs-general.scss";
@import "style/icons.scss";
@import "style/typography.scss";
@import "style/layout.scss";
@import "style/navigation.scss";
